.item{
  height: 12px;
  border-radius: 4px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 220px;
}
.logo{
  text-align: center;

}
.sidenav{
  overflow-x:hidden
}
.foot{

  position: sticky;

  top: 100%;
  z-index: 100;

}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-drawer-container{
  background-color: white;
}
.houver:hover{
  background-color: rgba(119, 133, 255, 0.103);
}

.btn-outline-secondary{
  border-color: #2c4495 ;
  color: #2c4495 ;
}
.btn-outline-secondary:hover{
  border-color: #2c4495 ;
  background-color: #2c4495 ;
  color: whitesmoke ;
}
.fill-space {

  flex: 1 1 auto;
}
