<ng-container id="name">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="text-center " style="
      color: #22213f;
      text-align:center ;
      ">ETrade</mat-toolbar>
      <mat-nav-list >
        <mat-list-item class="container houver " style="width: 200px; border-radius: 4px;" >
          <mat-icon matListIcon>home</mat-icon>
          <a matLine routerLink="" style="color: #22213f;">Home</a>
        </mat-list-item>
        <mat-list-item class="container houver " style="width: 200px; border-radius: 4px;" >
          <mat-icon matListIcon>trending_up</mat-icon>
          <a matLine routerLink="my-stock" style="color: #22213f;">Stock Achete</a>
        </mat-list-item>
      </mat-nav-list>
      <mat-nav-list class="footer">
        <mat-divider class="mb-3"></mat-divider>
        <mat-list-item class="container houver" style="width: 200px; border-radius: 4px;">
          <mat-icon matListIcon>account_circle</mat-icon>
          <a matLine href="#" style="color: #22213f;">Compte</a>
        </mat-list-item>
        <mat-list-item class="container houver" style="width: 200px; border-radius: 4px;">
          <mat-icon matListIcon >settings</mat-icon>
          <a matLine  [routerLink]="['/setting']" routerLinkActive="router-link-active"  style="color: #22213f;">Options</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="secondary">
        <button
          type="button"

          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon" style="color: #22213f;">menu</mat-icon>
        </button>
        <mat-icon matListIcon class="mr-3">home</mat-icon>
        <span style="color: #22213f;" >{{Title}}</span>
        <span class="fill-space"></span>
        <button type="button" class="btn btn-outline-secondary m-3">Balance : {{ theUser.solde }} $ </button>
        <mat-icon matListIcon style="cursor: pointer;" class="m-3">account_circle</mat-icon>
        <mat-icon class="mr-3" style="cursor: pointer;" matListIcon>notifications_none</mat-icon>
        <mat-icon matListIcon style="cursor: pointer;"><a href="http://127.0.0.1:4200">logout</a></mat-icon>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  </ng-container>
