<div class="container" >
  <div class="ml-3 mb-3 row">
  <div  *ngFor="let items of actions"  class="card text-black bg-light m-3 " style="max-width: 20rem;">
      <div class="card-header"> <a matLine [routerLink]="['chart/', items.title]" style="color: #22213f;">{{ items.name }}</a></div>
      <div class="card-body">
        <h4 class="card-title">{{items.price}} $</h4>
        <a (click)="Buy(items)" class="btn btn-primary btn-sm text-white mr-2">Buy</a>
        <a (click)="Sell(items)" class="btn btn-primary btn-sm text-white mr-2">Sell</a>
        <a (click)="goChart(items.name)" class="btn btn-primary btn-sm text-white">Chart</a>
        <small class="ml-3 text-muted ">{{items.date}}</small>
        <div><br /></div>
        <a (click)="Predict(items)" class="btn btn-primary btn-sm text-white">Trading Automatique</a>
      </div>
  </div>
  </div>
  <div><br /></div>
  <div *ngIf="check==1 && prediction.action==1" style="color: rgb(25, 202, 54); font-size: 20px;">
  Trade Bot a vendu {{prediction.typeaction}}  une action de valeur {{prediction.sharevalue}} $ avec un profit de {{prediction.profit}} $ à la date {{prediction.date}}
  </div>
  <div *ngIf="check==0 && prediction.action==0" style="color:rgba(233, 47, 47, 0.897); font-size: 20px;">
   Trade Bot a acheté {{prediction.typeaction}}  une action de valeur {{prediction.sharevalue}} $ à la date {{prediction.date}}
  </div>
  <div *ngIf="check==2 && prediction.action==2" style="font-size: 20px;" >
   Trade Bot n'a rien fait à la date {{prediction.date}}
  </div>
</div>
